@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

.todo-form {
  display: flex;
  gap: 10px;
  margin: 20px 0;

  button,
  input {
    padding: 5px;
  }
}

ul {
  list-style-type: none;

  li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    button {
      padding: 5px 10px;
      cursor: pointer;

      &:first-child {
        margin-right: 10px;
      }

      &:hover {
      }
    }
  }
}

button {
  background-color: #1976d2;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: 250ms ease-in-out;
  padding: 5px 10px;

  &:hover {
    background-color: #2196f3;
  }
}

.danger-button {
  background-color: #ff5252;

  &:hover {
    background-color: #ff2d2d;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}
